<?xml version="1.0" encoding="UTF-8"?>
<launch>


<arg name="orb_settings_file"   default="$(find orb_slam2_ros)/settings/KITTI04-12.yaml"/>
<arg name="octomap_enabled"		default="false"/>

<!-- ORBSLAM2 with Ros -->
<!-- Provide the correct settings .yaml file to specify camera parameters and ORB feature settings -->
<node pkg="orb_slam2_ros" type="Stereo" name="orb_slam2" args="$(find orb_slam2_lib)/Vocabulary/ORBvoc.bin $(arg orb_settings_file) False" cwd="node" output="screen">
   <param name="octomap_enabled" value="$(arg octomap_enabled)"/> <!-- needed for projected/gradient map-->
   <param name="octomap_resolution" value="0.02"/>
   <param name="occupancy_projection_min_height" value="-0.1"/>
   <param name="occupancy_gradient_max_height" value="0.2"/>
   <param name="occupancy_gradient_nb_erosions" value="1"/>
   <param name="occupancy_gradient_low_slope" value="0.3"/>
   <param name="occupancy_gradient_high_slope" value="0.5"/>
</node>

</launch>
